.myBtn{
    padding: 5px 15px;
    margin: 1px;
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-family: monospace;
    background: transparent;
    background-color: rgb(24, 137, 118);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}