.navbar {
    height: 50px;
    width: 1210px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 15px;
    border-radius: 10px;
    background-image: url(/public/img/background.jpg);
  }
  
  .navbar__links :any-link {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    color: white;
    text-decoration: none;
  }